{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<select id="select_filter_{{ title|slugify }}" style="margin-left: 10px;">
{% for choice in choices %}
  <option{% if choice.selected %} selected="selected"{% endif %} data-href="{{ choice.query_string|iriencode }}">
    {{ choice.display }}
  </option>
{% endfor %}
</select>

<script type="text/javascript">
  // Automatically navigate to the new query URL on select
  $(function() {
    $("select#select_filter_{{ title|slugify }}").chosen({
      disable_search: {{ spec.disable_search|yesno:"true,false"}}
    }).change(function(e) {
      window.location = window.location.pathname +
          $(this).find("option:selected").attr("data-href");
    });
  });
</script>

<style type="text/css">
  /*
   The Django admin CSS selectors bind stronger than the Chosen CSS selectors,
   so I have to copy over a few of the CSS selectors to get the styling to
   look good.  I added a few of my own styles too, to make it look better.

   In particular, add some styles such that the value of the options break
   into multiple lines, and the chosen selector doesn't extend off of the side
   filter bar.  It's okay to hard-code the widths here because the django
   admin filter sidebar width is also * hard-coded to 160px.

   Also add a min-width, so that there is always a decently big target box for
   clicking.

   */
  #select_filter_{{ title|slugify }} + .chzn-container {
    margin-top: 4px;
    margin-left: 10px;
    max-width: 140px;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-single {
    min-width: 70px;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-single span {
    overflow: visible;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-drop {
    min-width: 78px;
    max-width: 138px;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-drop .chzn-search input {
    max-width: 108px;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-results {
    padding-left: 4px;
    margin: 0 4px 4px 0;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-results li {
    padding: 5px 6px;
    border-bottom: 1px solid #EEE;
  }
  #select_filter_{{ title|slugify }} + .chzn-container .chzn-results li:last-child {
    border-bottom: none;
  }
</style>
