{% extends "memdb/base.html" %}
{% block title %}Register{% endblock %}

{% block body %}

	<h1>Registration Form</h1>
  <form method="post" id="registration-form">
    {% csrf_token %}
    <fieldset>
  		{% for field in form %}
        {% if forloop.counter0 == facility_name_pos %}
          <legend>Basic Information</legend>
        {% endif %}
        
        {% if forloop.counter0 == outpatient_pos %}
          <legend>Description of Health Facility / Clinic</legend>
        {% endif %}
        
        {% if forloop.counter0 == lab_pos %}
          <legend>Supportive Services</legend>
          <span class="help-block">Check box if hospital / clinic has working:</span>
        {% endif %}
        
        {% if forloop.counter0 == physicians_pos %}
          <legend>Staff Establishment</legend>
          <span class="help-block">Enter total number</span>
        {% endif %}
        
        {% if forloop.counter0 == average_pos %}
          <legend>Additional Information</legend>
        {% endif %}
      
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      {% endfor %}
    </fieldset>
    <button type="submit" class="btn">Register</button>
  </form>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bjqs.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" />
{% endblock %}

{% block scripts %}
  <script src= "{{ STATIC_URL }}scripts/bjqs-1.3.min.js"></script>
  <script src= "{{ STATIC_URL }}scripts/main.js"></script>
{% endblock %}
