{% extends "memdb/base.html" %}
{% csrf_token %}
{% block title %}Register{% endblock %}

{% block body %}

  <form action="/register/" method="post">
    <div id="registration-form">
      <ul class="bjqs">
        <li>
          <div id="section1" >
            <h1>Basic Information</h1>
            {% for field in section1 %}
              <p>
              {{ field.errors }}
              {{ field.label_tag }}: {{ field }}
              </p>
            {% endfor %}
        </li>

        <li>
          <div class="section2">
            <h1>Description of Health Facility / Clinic</h1>
            {% for field in section2 %}
              <p>
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
              </p>
            {% endfor %}
          </div>
        </li>

        <li>
          <div class="section3">
            <h1>Supportive Services</h1>
            <h2>Check box if hospital / clinic has working:</h2>
            {% for field in section3 %}
              <p>
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
              </p>
            {% endfor %}
          </div>
        </li>

        <li>
          <div class="section4">
            <h1>Staff Establishment</h1>
            <h2>Enter total number</h2>
            {% for field in section4 %}
              <p>
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
              </p>
            {% endfor %}
          </div>
        </li>

        <li>
          <div class="section5">
            <h1>Additional Information</h1>
            {% for field in section5 %}
              <p>
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
              </p>
            {% endfor %}
            <input type="submit" value="Send message" /></p>
          </div>
        </li>

      </ul>
    </div>
  </form>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bjqs.css" />
{% endblock %}

{% block scripts %}
  <script src= "{{ STATIC_URL }}scripts/bjqs-1.3.min.js"></script>
  <script src= "{{ STATIC_URL }}scripts/main.js"></script>
{% endblock %}
