{% extends "admin/change_form.html" %}

{# This code is copied from /Library/Python/2.7/site-packages/report_builder/templates/admin/report_builder/change_form.html #}
{# Unfortunately, I'm not sure if there's a better way to override either the models.py or admin.py from the Python package in this Django app #}

{% block submit_buttons_bottom %}
 {{ block.super }}
 <script>
(function($) {
  $(function() {
    $('<input type="submit" name="_easy" value="Save and continue to easy edit"/>').appendTo('.submit-row');

    $('<li><input type="submit" class="grp-button grp-default" name="_easy" value="Save and continue to easy edit"/></li>').appendTo('footer ul');

    // This code is added to automatically select facility as the root model
    // Only change the selector if nothing has already been selected. I.e., don't automatically
    // change the select if we are editing an existing report that for some reason has a different root model.
    if (!$("select#id_root_model option:selected").val()) {
      var facility_option = $("select#id_root_model option").filter(function(i, option) {
        return $(option).text() === "facility";
      });
      if (facility_option) {
        facility_option.attr("selected", "selected");
      }
    }

    // Also remove some unused UI elements
    // Hide the input for the root model, since this should be taken care of by the above javascript
    $("div.field-root_model").hide();
    // Hide the distinct input, since it probably won't get used
    $("div.field-distinct").hide();
    // Hide the display field and filter field inline forms, since they'll be set in the easy edit interface
    $("div#displayfield_set-group, div#filterfield_set-group").hide();
  });
})(django.jQuery);
</script>
{% endblock %}
